/* ==============================
	Typography
============================== */
/* ==============================
	Colors
============================== */
/* ==============================
	Sizes
============================== */
/* ==============================
	Radiuses
============================== */
/* ==============================
	Flexbox
============================== */
/* ==============================
	Media queries
============================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  color: #ccc;
  font-size: 18px;
  font-family: Calibri;
  line-height: 27px;
  background-color: #222; }

#wrapper {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh; }

#content {
  flex: 1 0 auto;
  width: 100%;
  max-width: 1189px;
  margin: 27px auto 0; }

#content::after {
  content: "";
  display: block;
  clear: both; }

#main {
  float: left;
  width: calc(100% - 27px - 277px); }
  @media all and (max-width: 768px) {
    #main {
      float: none;
      width: 100%; } }

#sidebar {
  float: right;
  width: 277px;
  margin-left: 27px; }
  @media all and (max-width: 768px) {
    #sidebar {
      float: none;
      width: 100%;
      margin-left: 0; } }

.block {
  margin-bottom: 27px;
  padding: 27px;
  background-color: #2a2a2a;
  box-sizing: border-box; }

.clear-fix:after {
  content: "";
  display: block;
  clear: both;
  height: 0px;
  visibility: hidden; }

h1 {
  font-size: 2.5em; }

h2 {
  margin-bottom: 27px;
  font-size: 2em; }
  @media all and (max-width: 480px) {
    h2 {
      font-size: 1.5em; } }

h3 {
  font-size: 1.5em; }

h4 {
  margin-bottom: 9px;
  font-size: 1.2em; }

.page-title {
  margin-bottom: 27px; }

p {
  margin-top: 27px; }

a {
  text-decoration: none;
  color: #ccc; }

.link {
  color: #296ddb;
  border-bottom: 1px dashed #296ddb; }
  .link:hover {
    border-bottom: none; }
  .link:active {
    color: #1a4c9d;
    border-bottom: 1px dashed #1a4c9d; }
  .link:visited {
    color: #999;
    border-color: #999; }
    .link:visited:active {
      color: #1a4c9d;
      border-bottom: 1px dashed #1a4c9d; }

.text h2 {
  color: #999; }
.text h3 {
  color: #808080; }
.text h4 {
  color: #666; }
.text ul, .text ol {
  margin-left: 54px; }
.text ul > li,
.text ol > li {
  line-height: 27px; }

.text-red {
  color: #833; }

#logo {
  height: 100%;
  padding-right: 27px;
  padding-left: 27px;
  background-color: #2a2a2a;
  font-size: 56px;
  line-height: 81px;
  color: #ccc; }

#footer {
  flex-shrink: 0;
  padding: 27px;
  background-color: #2a2a2a; }

#copyright {
  text-align: center;
  color: #666; }

.btn {
  display: inline-block;
  height: 52px;
  padding-left: 27px;
  padding-right: 27px;
  border: 1px solid #666;
  border-radius: 4px;
  text-align: center;
  font-size: 14.4px;
  line-height: 54px; }

.btn-red:hover {
  cursor: pointer;
  border-color: #833;
  background-color: #833; }
.btn-red:active {
  border-color: #752c2c;
  background-color: #752c2c; }

.icon {
  display: inline-block;
  height: 18px;
  width: 18px;
  vertical-align: sub;
  background-size: cover; }

.author-icon {
  background-image: url(../img/author-icon.svg); }

.clock-icon {
  background-image: url(../img/clock-icon.svg); }

.news {
  margin-bottom: 27px;
  padding: 27px;
  background-color: #2a2a2a; }
  .news header {
    margin-bottom: 27px; }
  .news .news-title > a:hover {
    color: #999; }
  .news .news-tags {
    margin-bottom: 17px; }
  .news .tag {
    display: inline-block;
    height: 27px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    color: #808080;
    border-bottom: none;
    background-color: #343434; }
    .news .tag:hover {
      background-color: #222; }
  .news .author,
  .news .datetime {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: text-top;
    color: #808080;
    font-size: 14.4px; }
  .news .date {
    white-space: pre-wrap; }
  .news .time {
    color: #833; }
  .news .author {
    margin-right: 27px; }
  .news .author-icon,
  .news .clock-icon {
    margin-right: 5px; }
  .news footer {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: flex;
    margin-top: 27px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end; }
    @media all and (max-width: 480px) {
      .news footer {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .news .news-info {
    margin-right: 27px; }
    @media all and (max-width: 480px) {
      .news .news-info {
        align-self: flex-start;
        margin-right: 0; } }
  .news .btn-news {
    min-width: 135px; }
    @media all and (max-width: 480px) {
      .news .btn-news {
        width: 100%;
        margin-top: 27px;
        padding-right: 0;
        padding-left: 0; } }

.news-with-img {
  padding: 0 0 27px; }
  .news-with-img header {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    height: 270px;
    margin-bottom: 27px;
    background-position: center center; }
  .news-with-img .news-img {
    overflow: hidden;
    height: 270px; }
    .news-with-img .news-img img {
      width: 885px;
      background-position: center; }
  .news-with-img .news-title-wrapper {
    padding: 27px;
    background-color: rgba(34, 34, 34, 0.6); }
  .news-with-img .news-title {
    margin-bottom: 0; }
  .news-with-img .news-tags,
  .news-with-img .news-body,
  .news-with-img footer {
    padding-right: 27px;
    padding-left: 27px; }

/*# sourceMappingURL=main.css.map */
