html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ==============================
	Font
============================== */
/* ==============================
	Colors
============================== */
/* ==============================
	Sizes
============================== */
/* ==============================
	Radiuses
============================== */
/* ==============================
	Common
============================== */
body {
  font-size: 18px;
  font-family: Calibri;
  background-color: #222;
  color: #ccc; }

html, body {
  height: 100%;
  line-height: 27px; }

#wrapper {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  min-height: 100vh; }

#content {
  flex-grow: 1;
  width: 100%;
  max-width: 1189px;
  margin: 27px auto 0; }

#content::after {
  content: "";
  display: block;
  clear: both; }

#main {
  float: left;
  width: calc(100% - 27px - 277px); }

#sidebar {
  float: right;
  width: 277px;
  margin-left: 27px; }

@media all and (max-width: 768px) {
  #main, #sidebar {
    float: none;
    width: 100%; }

  #sidebar {
    margin-left: 0; } }
/* ==============================
	Typography
============================== */
h1 {
  font-size: 2.5em; }

h2 {
  margin-bottom: 27px;
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

h4 {
  margin-bottom: 9px;
  font-size: 1.2em; }

p {
  margin-top: 27px; }

a {
  text-decoration: none;
  color: #ccc; }

.link {
  color: #296ddb;
  border-bottom: 1px dashed #296ddb; }
  .link:hover {
    border-bottom: none; }
  .link:active {
    color: #1a4c9d;
    border-bottom: 1px dashed #1a4c9d; }
  .link:visited {
    color: #999;
    border-color: #999; }
    .link:visited:active {
      color: #1a4c9d;
      border-bottom: 1px dashed #1a4c9d; }

.page-title {
  margin-bottom: 27px; }

@media all and (max-width: 480px) {
  h2 {
    font-size: 1.5em; } }
/* ==============================
	Blocks
============================== */
.block {
  margin-bottom: 27px;
  padding: 27px;
  background-color: #2a2a2a;
  box-sizing: border-box; }

/* ==============================
	Buttons
============================== */
.btn {
  display: inline-block;
  height: 54px;
  padding-left: 27px;
  padding-right: 27px;
  border: 1px solid #666;
  border-radius: 4px;
  text-align: center;
  font-size: 14.4px;
  line-height: 54px; }

.btn-red:hover {
  cursor: pointer;
  border-color: #833;
  background-color: #833; }

/* ==============================
	Helpers
============================== */
.clear-fix:after {
  content: "";
  display: block;
  clear: both;
  height: 0px;
  visibility: hidden; }

/* ==============================
	FOR DELETE
============================== */
.bg-color-red {
  background-color: #833; }

.bg-color-red-lighten {
  background-color: #ad4141; }

.bg-color-red-darken {
  background-color: #632525; }

.bg-color-blue {
  background-color: #296ddb; }

.bg-color-blue-lighten {
  background-color: #5d91e4; }

.bg-color-blue-darken {
  background-color: #1a4c9d; }

.bg-color-grey {
  background-color: #808080; }

.bg-color-grey-lighten {
  background-color: #999; }

.bg-color-grey-darken {
  background-color: #666; }

.bg-color-black {
  background-color: #222; }

.bg-color-black-lighten {
  background-color: #2a2a2a; }

.bg-color-black-darken {
  background-color: #1a1a1a; }

.bg-color-white {
  background-color: #ccc; }

#logo {
  height: 100%;
  padding-right: 27px;
  padding-left: 27px;
  background-color: #2a2a2a;
  font-size: 56px;
  line-height: 81px;
  color: #ccc; }

/* ==============================
	Text
============================== */
.text h2 {
  color: #999; }
.text h3 {
  color: #808080; }
.text h4 {
  color: #666; }
.text ul, .text ol {
  margin-left: 54px; }
.text ul > li,
.text ol > li {
  line-height: 27px; }

.text-red {
  color: #833; }

/* ==============================
	News
============================== */
.news-title > a:hover {
  color: #808080; }

.tag {
  display: inline-block;
  height: 27px;
  margin-right: 5px;
  margin-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  color: #808080;
  border-bottom: none;
  background-color: #343434; }
  .tag:hover {
    background-color: #222; }

.news header {
  margin-bottom: 17px; }
.news .author,
.news .datetime {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: text-top;
  color: #808080;
  font-size: 14.4px; }
.news .author-icon,
.news .clock-icon {
  margin-right: 5px; }
.news .author {
  margin-right: 27px; }
.news footer {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: flex;
  margin-top: 27px;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end; }
.news .news-info {
  margin-right: 27px; }
.news .btn-news {
  min-width: 135px; }
@media all and (max-width: 480px) {
  .news footer {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .news .news-info {
    align-self: flex-start;
    margin-right: 0; }
  .news .btn-news {
    width: 100%;
    margin-top: 27px;
    padding-right: 0;
    padding-left: 0; } }

/* ==============================
	Icons
============================== */
.icon {
  display: inline-block;
  height: 18px;
  width: 18px;
  vertical-align: sub;
  background-size: cover; }

.author-icon {
  background-image: url(../img/author-icon.svg); }

.clock-icon {
  background-image: url(../img/clock-icon.svg); }

#footer {
  padding: 27px;
  background-color: #2a2a2a; }

#copyright {
  text-align: center;
  color: #666; }

/*# sourceMappingURL=main.css.map */
