/* ==============================
	Common
============================== */
body {
	font-size: $font-size;
	font-family: $font-family;
	background-color: $black;
	color: $white;
}

html, body {
	height: 100%;
	line-height: $line-height;
}

#wrapper {
	display: table;
	height: 100%;
	width: 100%;
}

#content-wrapper {
	display: table-row;
	height: 100%;
}

#content {
	max-width: 1189px;
	margin: $indent auto 0;
}

#main {
	float: left;
	width: calc(100% - 27px - 277px);
}

#sidebar {
	float: right;
	width: 277px;
	margin-left: $indent;
}

@media all and (max-width: 768px) {
	#main {
		margin-right: 0;
		width: 100%;
	}

	#sidebar {
		width: 100%;
	}
}


/* ==============================
	Typography
============================== */
h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { @include h-setting(1.2em, 9px); }

p { margin-top: $indent; }

a {
	text-decoration: none;
	color: $blue;
	border-bottom: 1px dashed $blue;

	&:hover {
		border-bottom: none;
	}

	&:active {
		color: $blue-darken;
		border-bottom: 1px dashed $blue-darken;
	}

	&:visited {
		color: $grey-lighten;
		border-color: $grey-lighten;

		&:active {
			color: $blue-darken;
			border-bottom: 1px dashed $blue-darken;
		}
	}
}

.page-title {
	margin-bottom: $indent;
}


/* ==============================
	Blocks
============================== */
.block {
	margin-bottom: $indent;
	padding: $indent;
	background-color: $black-lighten;
	box-sizing: border-box;
}

.clear-fix:after {
	content: "";
	display: block;
	clear: both;
	height: 0px;
	visibility: hidden;
}


/* ==============================
	FOR DELETE
============================== */
.bg-color-red { background-color: $red; }
.bg-color-red-lighten { background-color: $red-lighten; }
.bg-color-red-darken { background-color: $red-darken; }

.bg-color-blue { background-color: $blue; }
.bg-color-blue-lighten { background-color: $blue-lighten; }
.bg-color-blue-darken { background-color: $blue-darken; }

.bg-color-grey { background-color: $grey; }
.bg-color-grey-lighten { background-color: $grey-lighten; }
.bg-color-grey-darken { background-color: $grey-darken; }

.bg-color-black { background-color: $black; }
.bg-color-black-lighten { background-color: $black-lighten; }
.bg-color-black-darken { background-color: $black-darken; }

.bg-color-white { background-color: $white; }