/* ==============================
	Common
============================== */
body {
	color: $white;
	font-size: $font-size;
	font-family: $font-family;
	line-height: $line-height;
	background-color: $black;
}

#wrapper {
	@include display-flex();
	@include flex-direction(column);
	height: 100vh;
}

#content {
	flex: 1 0 auto;
	width: 100%; //IE (for margin: 0 auto)
	max-width: 1189px;
	margin: $indent auto 0;
}

	#content::after {
		content: "";
		display: block;
		clear: both;
	}

#main {
	float: left;
	width: calc(100% - 27px - 277px);
}

#sidebar {
	float: right;
	width: 277px;
	margin-left: $indent;
}

@media all and (max-width: 768px) {

	#main, #sidebar {
		float: none;
		width: 100%;
	}

	#sidebar {
		margin-left: 0;
	}
}

/* ==============================
	Typography
============================== */
h1 { font-size: 2.5em; }
h2 { @include h-setting(2em, 27px); }
h3 { font-size: 1.5em; }
h4 { @include h-setting(1.2em, 9px); }

p { margin-top: $indent; }

a {
	text-decoration: none;
	color: $white;
}

.link {
	color: $blue;
	border-bottom: 1px dashed $blue;

	&:hover {
		border-bottom: none;
	}

	&:active {
		color: $blue-darken;
		border-bottom: 1px dashed $blue-darken;
	}

	&:visited {
		color: $grey-lighten;
		border-color: $grey-lighten;

		&:active {
			color: $blue-darken;
			border-bottom: 1px dashed $blue-darken;
		}
	}
}

.page-title {
	margin-bottom: $indent;
}

@media all and (max-width: $screen-small) {
	h2 { font-size: 1.5em }
}


/* ==============================
	Blocks
============================== */
.block {
	margin-bottom: $indent;
	padding: $indent;
	background-color: $black-lighten;
	box-sizing: border-box;
}


/* ==============================
	Buttons
============================== */
.btn {
	display: inline-block;
	height: $indent * 2 - 2;
	padding-left: $indent;
	padding-right: $indent;
	border: 1px solid $grey-darken;
	border-radius: $radius;
	text-align: center;
	font-size: $font-size-small;
	line-height: $indent * 2;
}

.btn-red {
		&:hover {
		cursor: pointer;
		border-color: $red;
		background-color: $red;
	}

	&:active {
		border-color: $red-darken;
		background-color: $red-darken;
	}
}


/* ==============================
	Helpers
============================== */
.clear-fix:after {
	content: "";
	display: block;
	clear: both;
	height: 0px;
	visibility: hidden;
}


/* ==============================
	FOR DELETE
============================== */
.bg-color-red { background-color: $red; }
.bg-color-red-lighten { background-color: $red-lighten; }
.bg-color-red-darken { background-color: $red-darken; }

.bg-color-blue { background-color: $blue; }
.bg-color-blue-lighten { background-color: $blue-lighten; }
.bg-color-blue-darken { background-color: $blue-darken; }

.bg-color-grey { background-color: $grey; }
.bg-color-grey-lighten { background-color: $grey-lighten; }
.bg-color-grey-darken { background-color: $grey-darken; }

.bg-color-black { background-color: $black; }
.bg-color-black-lighten { background-color: $black-lighten; }
.bg-color-black-darken { background-color: $black-darken; }

.bg-color-white { background-color: $white; }