/* ==============================
	Text
============================== */
.text {
	h2 { color: $grey-lighten; }
	h3 { color: $grey; }
	h4 { color: $grey-darken; }

	ul, ol { margin-left: 54px; }

	ul > li, 
	ol > li {
		line-height: $line-height;
	}
}

.text-red {
	color: $red;
}


/* ==============================
	News
============================== */
.news > header,
.news-body {
	margin-bottom: $indent;
}

.news-title > a:hover {
	color: $grey;
}

.tag {
	display: inline-block;
	height: $indent;
	margin-right: 5px;
	padding-right: 15px;
	padding-left: 15px;
	color: $grey;
	border-bottom: none;
	background-color: #343434;

	&:hover { background-color: $black; }
}

.news {

	.author,
	.datetime {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: text-top;
		color: $grey;
		font-size: $font-size-small;
	}

	.author-icon,
	.clock-icon {
		margin-right: 5px;
	}

	.author { margin-right: 27px; }

	//hack for horizonal align right of next block
	.datetime { flex-grow: 1; }

	footer {
		@include display-flex();
		@include flex-direction(row);
		@include align-items(flex-end);
	}

	@media all and (max-width: 768px) {

		.btn-news {
			display: block;
			margin-top: $indent;
		}

		footer { display: block; }
	}

	@media all and (min-width: 480px) and (max-width: 768px) {

		footer {
			text-align: center;
		}

		.author,
		.datetime {
			display: block;
			text-align: left;
		}
		
		.btn-news {
			display: inline-block;
		}

	}


}

/* ==============================
	Icons
============================== */
.icon {
	display: inline-block;
	height: $font-size;
	width: $font-size;
	vertical-align: sub;
	background-size: cover;
}

.author-icon {
	background-image: url(../img/author-icon.svg);
}

.clock-icon {
	background-image: url(../img/clock-icon.svg);
}