/* ==============================
	Text
============================== */
.text {

	h2 { color: $grey-lighten; }
	h3 { color: $grey; }
	h4 { color: $grey-darken; }

	ul, ol { margin-left: 54px; }

	ul > li,
	ol > li {
		line-height: $line-height;
	}
}

.text-red { color: $red; }


/* ==============================
	News
============================== */
.news {

	margin-bottom: $indent;
	padding: $indent;
	background-color: $black-lighten;

	header { margin-bottom: $indent - 10px; }

	.news-title > a:hover { color: $grey; }

	.tag {
		display: inline-block;
		height: $indent;
		margin-right: 5px;
		margin-bottom: 10px;
		padding-right: 15px;
		padding-left: 15px;
		color: $grey;
		border-bottom: none;
		background-color: #343434;

		&:hover { background-color: $black; }
	}

	.author,
	.datetime {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: text-top;
		color: $grey;
		font-size: $font-size-small;
	}

	.author-icon,
	.clock-icon {
		margin-right: 5px;
	}

	.author { margin-right: 27px; }

	footer {
		@include display-flex();
		margin-top: $indent;
		@include flex-direction(row);
		@include justify-content(space-between);
		@include align-items(flex-end);
	}

	.news-info { margin-right: $indent; }

	.btn-news { min-width: 135px; }

	@media all and (max-width: $screen-small) {

		footer {
			@include flex-direction(column);
		}

		.news-info {
			align-self: flex-start;
			margin-right: 0;
		}

		.btn-news {
			width: 100%;
			margin-top: $indent;
			padding-right: 0;
			padding-left: 0;
		}
	}
}

.news-with-img {

	header {
		@include display-flex();
		@include flex-direction(column);
		@include justify-content(flex-end);
		height: 270px;
		margin-bottom: 27px;
		background-position: center center;
	}

	padding: 0 0 $indent;

	.news-img {
		overflow: hidden;
		height: 270px;

		img {
			width: 885px;
			background-position: center;
		}

	}

	.news-title-wrapper {
		padding: $indent;
		background-color: rgba(34, 34, 34, 0.6);
	}

	.news-title {
		margin-bottom: 0;
	}

	.news-tags,
	.news-body,
	footer {
		padding-right: $indent;
		padding-left: $indent;
	}
}

/* ==============================
	Icons
============================== */
.icon {
	display: inline-block;
	height: $font-size;
	width: $font-size;
	vertical-align: sub;
	background-size: cover;
}

.author-icon {
	background-image: url(../img/author-icon.svg);
}

.clock-icon {
	background-image: url(../img/clock-icon.svg);
}