/* ==============================
	Font
============================== */
$font-size: 18px;
$font-family: Calibri;
$line-height-text: 1.5em;


/* ==============================
	Colors
============================== */
$red: #833;
$red-lighten: lighten($red, 10%);
$red-darken: darken($red, 10%);

$blue: #296ddb;
$blue-lighten: lighten($blue, 12%);
$blue-darken: darken($blue, 15%);

$grey: #808080;
$grey-lighten: #999;
$grey-darken: #666;

$black: #222;
$black-lighten: #2a2a2a;
$black-darken: darken($black, 3%);

$white: #ccc;


/* ==============================
	Sizes
============================== */
$indent: 27px;
$line-height: $indent;


/* ==============================
	Radiuses
============================== */
$radius: 5px;