h1 { font-size: 2.5em; }

h2 { 
	@include h-setting(2em, $indent);
	@include respond-to(small) { font-size: 1.5em }
}

h3 { font-size: 1.5em; }
h4 { @include h-setting(1.2em, 9px); }

.page-title { margin-bottom: $indent; }

p { 
	padding-bottom: $indent;
}

a {
	text-decoration: none;
	color: $white;
}

.text {

	h2 { color: $grey-l; }
	h3 { color: $grey; }
	h4 { color: $grey-d; }

	ul, ol { margin-left: 54px; }

	ul > li,
	ol > li {
		line-height: $line-height;
	}
}

.text-red { color: $red; }

label {
	line-height: $line-height;
}