h1 { font-size: 2.5em; }

h2 {
  font-size: 2em;
  @include respond-to(small) { font-size: 1.5em }

  &.h2 {
    margin-bottom: $indent;
  }
}

h3 { font-size: 1.5em; }
h4 {
  font-size: 1.2em;

  &.h4 {
    margin-bottom: 9px;
  }
}

.page-title { margin-bottom: $indent; }

p {
  padding-bottom: $indent;
}

a {
  text-decoration: none;
  color: $white;
}

.text {

  h2 { color: $grey-l; }
  h3 { color: $grey; }
  h4 { color: $grey-d; }

  ul, ol { margin-left: $indent * 2; }

  ul > li,
  ol > li {
    line-height: $line-height;
  }
}

.text-red { color: $red; }
.text-grey { color: $grey; }

label {
  line-height: $line-height;
}