/* ==============================
	Typography
============================== */
$font-size: 16px;
$font-size-s: 14px;
$font-size-xs: 12px;
$font-family: "Ubuntu", sans-serif;


/* ==============================
	Colors
============================== */
$red: #833;
$red-l: lighten($red, 10%);
$red-d: darken($red, 5%);

$orange: #885d33;
$orange-l: lighten($orange, 10%);
$orange-d: darken($orange, 5%);

$green: #338848;
$green-l: lighten($green, 5%);
$green-d: darken($green, 5%);

$blue: #296ddb;
$blue-l: lighten($blue, 12%);
$blue-d: darken($blue, 15%);

$grey: #808080;
$grey-l: #999;
$grey-d: #666;

$black: #222;
$black-l: #2a2a2a;
$black-ll: lighten($black-l, 3%);
$black-d: darken($black, 3%);

$white: #ccc;
$white-l: lighten($white, 10%);

$color-vk: #54769b;
$color-vk-hover: #6d8cb0;
$color-vk-active: #5c7ca1;

$color-google-plus: #dc4e41;
$color-google-plus-hover: #e06055;
$color-google-plus-active: $color-google-plus;


/* ==============================
	Sizes
============================== */
$content-width: 1141px;
$indent: 27px;
$indent-s: 10px;
$line-height: $indent;

$screen-small: 480px;
$screen-medium: 768px;
$screen-large: 1024px;


/* ==============================
	Radiuses
============================== */
$radius: 4px;
$radius-s: 2px;