.colors {
	padding-bottom: $indent;
}

.color {
	height: $indent * 2;
	width: $indent * 2;
	float: left;
}

.color-red { background-color: $red; }
.color-red-l { background-color: $red-l; }
.color-red-d { background-color: $red-d; }

.color-orange { background-color: $orange; }
.color-orange-l { background-color: $orange-l; }
.color-orange-d { background-color: $orange-d; }

.color-green { background-color: $green; }
.color-green-l { background-color: $green-l; }
.color-green-d { background-color: $green-d; }

.color-blue { background-color: $blue; }
.color-blue-l { background-color: $blue-l; }
.color-blue-d { background-color: $blue-d; }

.color-grey { background-color: $grey; }
.color-grey-l { background-color: $grey-l; }
.color-grey-d { background-color: $grey-d; }

.color-black { background-color: $black; }
.color-black-d { background-color: $black-d; }
.color-black-l { background-color: $black-l; }

.color-white { background-color: $white; }
.color-white-l { background-color: $white-l; }