.news {

	margin-bottom: $indent;
	padding: $indent;
	background-color: $black-l;

	header { margin-bottom: $indent; }

	.news-title {
		line-height: 36px;

		a:hover { color: $grey-l; }
	}

	.news-tags { margin-bottom: 17px; }

	.tag {
		display: inline-block;
		height: $indent;
		margin-right: 5px;
		margin-bottom: 10px;
		padding-right: 15px;
		padding-left: 15px;
		vertical-align: middle;
		color: $grey;
		font-size: $font-size-s;
		border-bottom: none;
		background-color: #343434;

		&:hover { background-color: $black; }
	}

	.author,
	.datetime {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
		color: $grey;
		font-size: $font-size-s;
	}

	.date { white-space: pre-wrap; }
	.time { color: $red; }
	.author { margin-right: $indent }

	footer {
		@include display-flex();
		@include flex-direction(row);
		@include justify-content(space-between);
		@include align-items(flex-end);

		@include respond-to(small) {
			@include flex-direction(column);
		}
	}

	.news-info {
		margin-right: $indent;

		@include respond-to(small) {
			align-self: flex-start;
			margin-right: 0;
		}
	}

	.btn-news {
		min-width: 135px;

		@include respond-to(small) {
			width: 100%;
			margin-top: $indent;
			padding-right: 0;
			padding-left: 0;
		}
	}
}

.news-with-img {

	header {
		@include display-flex();
		@include flex-direction(column);
		@include justify-content(flex-end);
		height: $indent * 10;
		margin-bottom: $indent;
		background-position: center center;
	}

	padding: 0 0 $indent;

	.news-img {
		overflow: hidden;
		height: $indent * 10;

		img {
			width: 885px;
			background-position: center;
		}

	}

	.news-title-wrapper {
		padding: $indent;
		background-color: rgba(34, 34, 34, 0.6);
	}

	.news-title { margin-bottom: 0; }

	.news-body > p:first-child {
		margin-top: 0;
	}

	.news-tags,
	.news-body,
	footer {
		padding-right: $indent;
		padding-left: $indent;
	}
}