.registration,
.login {
	margin: 0 auto $indent;
	padding-bottom: $indent;

	h2 {
		margin-bottom: 0;
		text-align: center;
	}
}

.registration-socials {
	padding-bottom: $indent;

	@include respond-to(small) {
		padding-bottom: 0;

		.btn-social {
			margin-bottom: $indent;
		}
	}
}

.captcha {
	margin-bottom: $indent;
}