.bg-color-red { background-color: $red; }
.bg-color-red-lighten { background-color: $red-lighten; }
.bg-color-red-darken { background-color: $red-darken; }

.bg-color-blue { background-color: $blue; }
.bg-color-blue-lighten { background-color: $blue-lighten; }
.bg-color-blue-darken { background-color: $blue-darken; }

.bg-color-grey { background-color: $grey; }
.bg-color-grey-lighten { background-color: $grey-lighten; }
.bg-color-grey-darken { background-color: $grey-darken; }

.bg-color-black { background-color: $black; }
.bg-color-black-lighten { background-color: $black-lighten; }
.bg-color-black-darken { background-color: $black-darken; }

.bg-color-white { background-color: $white; }