.icon {
	display: inline-block;
	height: $indent - 2;
	width: $indent - 2;
	vertical-align: sub;
	background-size: cover;
}

.icon-small {
	height: $font-size;
	width: $font-size;
}

.icon-in-input {
	position: relative;
	top: -35px;
	left: -18px;
	float: right;

	&.icon-eye,
	&.icon-eye-closed {
		&:hover {
			cursor: pointer;
		}
	}
}

.icon-author,
.icon-clock {
	margin-right: 5px;
}

.icon-author {
	background-image: url(../img/icons/icon-author.svg);
}

.icon-clock {
	background-image: url(../img/icons/icon-clock.svg);
}

.icon-vk {
	background-image: url(../img/icons/icon-vk.svg);
}

.icon-google-plus {
	background-image: url(../img/icons/icon-google-plus.svg);
}

.icon-eye {
	background-image: url(../img/icons/icon-eye.svg);
}

.icon-eye-closed {
	background-image: url(../img/icons/icon-eye-closed.svg);
}

.icon-ok {
	background-image: url(../img/icons/icon-ok.svg);
}

.icon-error {
	background-image: url(../img/icons/icon-error.svg);
}