input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: $indent / 1.5;
	color: $grey;
	font-family: $font-family;
	font-size: $font-size;
	border: none;
	border-radius: $radius-small;
	background-color: $black;

	&:focus {
		outline: 0;
		background-color: $black-d;
	}

	&.input-valid {
		border: 1px solid $green-d;
	}

	&.input-not-valid {
		padding-right: $indent * 2;
		border: 1px solid $red-l;
	}
}

input[type="text"],
input[type="email"],
input[type="password"] {
	height: $indent * 2;
}

textarea {
	height: 100%;
}