.label {
  display: inline-block;
  box-sizing: border-box;
  height: $indent;
  padding: 0 $indent / 2;
  font-size: $font-size-xs;
  line-height: $indent;

  @include border-radius($radius-s);

  &.label-green {
    color: $white-l;
    background-color: $green;
  }

  &.label-red {
    background-color: $red;
  }
}
