.link {
  color: $grey-l;

  &:hover {
    padding-bottom: 2px;
    border-bottom: 1px dashed $grey-l;
  }

  &:active {
    color: $grey-d;
    border-bottom-color: $grey-d;
  }

  &.link-blue {
    color: $blue-l;
    border-bottom-color: $blue;

    &.hover {
      color: $blue-ll;
      border-bottom-color: $blue-ll;
    }

    &:active {
      color: $blue;
      border-bottom-color: $blue;
    }
  }
}