.link {
	color: $grey-l;

	&:hover {
		border-bottom: 1px dashed $grey-l;
	}

	&:active {
		color: $grey-d;
		border-bottom-color: $grey-d;
	}

	&.link-blue {
		color: $blue;
		border-bottom-color: $blue;

		&:active {
			color: $blue-d;
			border-bottom-color: $blue-d;
		}
	}
}