/* ==============================
	Typography
============================== */
@font-face {
	font-family: "Ubuntu";
	src: url("../fonts/Ubuntu/Ubuntu-Light.ttf");
}

$font-size: 18px;
$font-size-small: 0.8em;
$font-family: "Ubuntu", sans-serif;
$line-height: 1.5em;


/* ==============================
	Colors
============================== */
$red: #833;
$red-lighten: lighten($red, 10%);
$red-darken: darken($red, 5%);

$blue: #296ddb;
$blue-lighten: lighten($blue, 12%);
$blue-darken: darken($blue, 15%);

$grey: #808080;
$grey-lighten: #999;
$grey-darken: #666;

$black: #222;
$black-lighten: #2a2a2a;
$black-darken: darken($black, 3%);

$white: #ccc;


/* ==============================
	Sizes
============================== */
$content-width: 1141px;
$indent: 27px;
$line-height: $indent;

$screen-small: 480px;
$screen-medium: 768px;


/* ==============================
	Radiuses
============================== */
$radius: 4px;